.event-link {
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.show-headers{
   color: cornflowerblue;
}

@charset "UTF-8";
#main-table {
    min-height: 340px;
}

#main-page {
    min-height: 550px;
}

#login-header {
    color: darkgrey;
}

/* Custom page header */
#header {
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 19px;
    color: #808080;
    border-bottom: 2px solid #d3d3d3;
    background-color: #f5f5f5;
}

.header a{
    color: cornflowerblue;
}
.inline {
display:inline-block;
}

#pager li a {
    color: darkgrey;

}
input.ng-invalid.ng-dirty {
    outline: none;
    border-color: #B20000;
    box-shadow: 0 0 7px #B20000;
}

.example-animate-container {
    background:white;
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}






/* Space out content a bit */
/*body {*/
    /*padding: 10px !important;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 19px;
    color: #d3d3d3;
    border-top: 2px solid #d3d3d3;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
#main-header{

}

/* Custom page footer */

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body {
    margin:0;
    padding:0;
}
#main {
    width:800px;
    height: 150px; /*can be anything, just should make sure it is taller than the sidebar*/
    padding-right: 70px;
    float: left;
    background-color: transparent;
}
#sidebar {
    width: 350px;
    right: 122px;
    background-color: #f5f5f5;
    min-height: 250px;
    margin: 10px 0 15px 0; /*controls the cutoff of the top and bottom limitations*/
    padding: 15px 10px;
    float: right; /* float right for a right aligned sidebar */
}
#footer {
    clear:both;
    background-color: transparent;
    height: 300px;
    margin-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 19px;
    color: #d3d3d3;
    border-top: 2px solid #d3d3d3;
}
#wrapper {
    width: 1150px; /* MUST HAVE WIDTH SET, should be the sidebar width + main width */
    margin-left: auto;
    margin-right: auto;
}


