<div class="container" id="main-page">

    <div class="row">
        <div ng-controller="MainCtrl" id="main-body" class="col-sm-9">
            <h1 style="color: darkgrey"><i class="fa fa-rocket"></i> Maven Events</h1>
            <input type="search" ng-model="searchText" class="form-control"
                   placeholder="Search for... tags, time, type, #">
            <br/>
            <table id="main-table" ng-table="tableParams" class="table table-hover">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>#</th>
                    <th>Type</th>
                    <th>Tags</th>
                    <th>Discrete</th>
                    <th>Source</th>
                    <th>Orbit Numbers</th>
                    <th>Description</th>

                </tr>


                <tr ng-repeat="event in events | orderBy: 'type'| filter:searchText | limitTo:9">
                    <td>{{ event.start_time}}</td>
                    <td>{{ event.end_time}}</td>
                    <td>{{ event.event_number}}</td>
                    <td>{{ event.type }}</td>
                    <td>
                        <p ng-repeat="tags in event.tags">{{ tags }}</p>
                    </td>
                    <td>{{ event.is_discrete}}</td>
                    <td>{{ event.source}}</td>
                    <td>
                        <p ng-repeat="orbit_numbers in event.orbit_numbers">{{ orbit_numbers}}</p>
                    </td>
                    <td>{{ event.description }}</td>
                </tr>


            </table>
            <div class="row">
                <!--pagination -->
                <ul class="pagination" id="pager">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>

                <!-- Single button -->
                <div class="btn-group col-xs-4">
                    <button id="download-button" type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            style="color: cornflowerblue">
                        Download<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="download">
                        <li><a href="#" onclick="$('#main-table').table2CSV()">CSV</a></li>
                        <li><a href="#" onclick="getJson()">JSON</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3" id="side-body">
            <h3 style="color: darkgrey" text-align="centered">Resources</h3>
            <hr/>
            <div id="last-events">
                <h5>Last Entered Events</h5>
                <table id="sid-body-table" ng-table="sideTableParams" class="table table-hover">
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>#</th>
                        <th>Description</th>
                    </tr>
                    <!--this is repeat order from the most recent input at the bottom of the array-->
                    <tr ng-repeat="event in events | orderBy: 'event_number': true | limitTo:3">
                        <td>{{ event.start_time}}</td>
                        <td>{{ event.end_time}}</td>
                        <td>{{ event.event_number}}</td>
                        <td>{{ event.description }}</td>
                    </tr>
                </table>
            </div>
            <div id="side-body-links">
                <ul>
                    <li><a href="">Graphs</a></li>
                    <li><a href="">Popular Tags</a></li>
                    <li><a href="">Event Listing</a></li>
                </ul>
            </div>
        </div>
        <!--end button-->
    </div>
</div>

<div class="footer" style="padding-left: 90px; padding-right: 90px; height: 90px">
    <p> From the Data-Systems team</p>
</div>


<div ng-init="friends = [
    {name:'John', age:25, gender:'boy'},
    {name:'Jessie', age:30, gender:'girl'},
    {name:'Johanna', age:28, gender:'girl'},
    {name:'Joy', age:15, gender:'girl'},
    {name:'Mary', age:28, gender:'girl'},
    {name:'Peter', age:95, gender:'boy'},
    {name:'Sebastian', age:50, gender:'boy'},
    {name:'Erika', age:27, gender:'girl'},
    {name:'Patrick', age:40, gender:'boy'},
    {name:'Samantha', age:60, gender:'girl'}
  ]">
    I have {{friends.length}} friends. They are:
    <input type="search" ng-model="q" placeholder="filter friends..."/>
    <ul class="example-animate-container">
        <li class="animate-repeat" ng-repeat="friend in friends | filter:q">
            [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
        </li>
    </ul>
</div>
