<div class="container" id="main-page">

    <div class="row">
        <div ng-controller="MainCtrl" id="main-body" class="col-sm-9">
            <h1 style="color: darkgrey"><i class="fa fa-rocket"></i> Maven Events</h1>
            <input type="search" ng-model="searchText" class="form-control"
                   placeholder="Search for... tags, time, type, #">
            <br/>
            <table id="main-table" ng-table="tableParams" class="table table-hover">
                <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
                <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
                    <tr ng-repeat="event in events | filter:searchText">
                        <td data-title="'Start Date'" sortable="'start_time'">
                            {{ event.start_time }}
                        </td>
                        <td data-title="'End Date'" sortable="'end_time'">
                            {{ event.end_time }}
                        </td>
                        <td data-title="'#'" sortable="'event_number'">
                            {{ event.event_number.toString() }}
                        </td>
                        <td data-title="'Type'" sortable="'type'">
                            {{ event.type }}
                        </td>
                        <td data-title="'Tags'" sortable="'tags'">
                            <span ng-repeat="tag in event.tags">{{ tag }}</span>
                        </td>
                        <td data-title="'Discrete?'" sortable="'is_discrete'">
                            {{ event.start_time }}
                        </td>
                        <td data-title="'Source'" sortable="'source'">
                            {{ event.start_time }}
                        </td>
                        <td data-title="'Orbit Numbers'" sortable="'orbit_numbers'">
                            <span ng-repeat="number in event.orbit_numbers">{{ number }}</span>
                        </td>
                        <td data-title="'Description'" sortable="'description'">
                            {{ event.description}}
                        </td>
                    </tr>

            </table>
            <div class="row">
                <!--pagination -->

                <!-- Single button -->
                <div class="btn-group col-xs-4">
                    <button id="download-button" type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            style="color: cornflowerblue">
                        Download<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="download">
                        <li><a href="#" onclick="$('#main-table').table2CSV()">CSV</a></li>
                        <li><a href="#" onclick="getJson()">JSON</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3" id="side-body">
            <h3 style="color: darkgrey" text-align="centered">Resources</h3>
            <hr/>
            <div id="last-events">
                <h5>Last Entered Events</h5>
                <table id="sid-body-table" ng-table="sideTableParams" class="table table-hover">
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>#</th>
                        <th>Description</th>
                    </tr>
                    <!--this is repeat order from the most recent input at the bottom of the array-->
                    <tr ng-repeat="event in events | orderBy: 'event_number': true | limitTo:3">
                        <td>{{ event.start_time}}</td>
                        <td>{{ event.end_time}}</td>
                        <td>{{ event.event_number}}</td>
                        <td>{{ event.description }}</td>
                    </tr>
                </table>
            </div>
            <div id="side-body-links">
                <ul>
                    <li><a href="">Graphs</a></li>
                    <li><a href="">Popular Tags</a></li>
                    <li><a href="">Event Listing</a></li>
                </ul>
            </div>
        </div>
        <!--end button-->

    </div>
</div>

<div class="footer" style="padding-left: 90px; padding-right: 90px; height: 90px">
    <p> From the Data-Systems team</p>
</div>

