<div id="show-wrapper" class="container" ng-controller="ShowCtrl">
</div>
<br/>
<br/>
<div class="col-xs-8 row col-xs-offset-2">
    <table class="table">
        <tr class="show-headers">
            <th>Start Date</th>
            <th>End Date</th>
            <th>Source</th>
            <th>Discrete?</th>
            <th>Orbit Numbers</th>
            <th>Tags</th>
            <th>Event #</th>
        </tr>
        <tr>
            <td data-title="Start Time"><h4>{{ event.start_time}}</h4></td>
            <td data-title="End Time"><h4>{{ event.end_time}}</h4></td>

            <td data-title="Source"><h4>{{ event.source}}</h4></td>

            <td data-title="Discrete?"><h4>{{ event.is_discrete}}</h4></td>

            <td data-title="Orbit Numbers"><h4 ng-repeat="orbit_numbers in event.orbit_numbers">{{ orbit_numbers
                }}</h4></td>

            <td data-title="tags"><h4 ng-repeat="tags in event.tags">{{ tags }}</h4></td>
            <td data-title="event_number"><h4>{{ event.event_number}}</h4></td>
        </tr>

    </table>
</div>

<div class="row col-xs-8 col-xs-offset-2"
     style="margin-top: 60px; background-color: #f5f5f5; padding: 15px; border-radius: 5px"><h3>
    {{ event.description }}</h3>
</div>

<!--our back drop-->
</div>
<script>
    $.backstretch("images/brushed_@2X.png");
</script>

